p{
    font-size: 30px;
    text-align: justify;
    font-style: italic;
    font-family: "Oswald", sans-serif;

}
h1{
    text-shadow: -7px -7px 7px chartreuse;
    line-height: 100%;
    
}
h2{
    text-decoration: dotted;
}
