body {
    background-image: url(../IMG/o-piloto-de-f1-masculino-esta-na-pista-de-corrida-e-ansioso-em-seu-carro-de-formula-bolido-aguarda-o-inicio-da-corrida-ha-uma-multidao-de-fas-nas-tribunas-generative-ai_117038-8778.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
P{
    text-align: justify;
    line-height: 200%;
}