body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgb(225, 39, 39);
    transition: background-color 0.5s ease;
}

/* Estilos adicionais para diferentes tamanhos de tela */
@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
        background-color: aquamarine;
        color: black;
    }
}

@media screen and (min-width: 600px) and (max-width: 999px) {
    body {
        font-size: 24px;
        background-color: rgb(21, 132, 132);
    }
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 32px;
       background-color: rgb(2, 2, 46);
    }
}